ul {
  list-style: none;
}

li {
  margin: 1em;
  text-decoration: none;
}

a {
  font: 1.4em sans-serif;
  text-decoration: none;
  color: #000;
}

button {
  text-decoration: none #6b7280 solid;
  border-radius: 0.75rem;
  font-weight: 600;
  font-size: 1rem;
  height: 3em;
  width: fit-content;
  padding: 6px 20px;
  color: #000;
  background-color: #111827;
  color: #ffffff;
  flex: 0 0 auto;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  background-color: #374151;
}


.header {
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  background-color: #f8fafa;
  border-bottom: 1px solid #000;
}

.navList {
  display: flex;
}

.hrefList {
  display: flex;
}

.logButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2em;
}
